

<div class="header">
	<div class="row">
		<div class="logo center"></div>
	</div> 
	<div class="row">
		<div class="content small-10 small-centered columns">
			<h1>Zach Ferland</h1>
			<h3>designer and developer, currently at techstars, building things</h3>
		</div>		
	</div>

	<div class="image-tag">
		<p>Mount Agung, Bali, Indonesia</p>
	</div>

</div>

<div id="red-bar"></div>

<div class="blog-post">

	<div class="row">
		
		<!-- <div class="title-text">
			<h2>Recent Blog Post</h2>
		</div> -->
	
		<div class="image">
			<%= image_tag "blog-image.png" %>
			
		</div>
	
		<div class="post">
			<div class="title">Blog Posts Coming Soon</div>
	
			<div class="snippet">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec lacinia mi. Donec eleifend elit eu ligula porttitor porttitor accumsan risus tempus. Pellentesque sapien augue, suscipit eu interdum nec, suscipit ut libero. Maecenas placerat eros nec diam mattis in laoreet felis laoreet. Mauris id arcu quis nisl dapibus malesuada...</div>
	
			<div class="read-more">
				<a href="https://medium.com/@zachferland" class="button-read">
					<span class="text-button">Read More</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="location">
	<div class="row">
		<div class="where">
			<div class="row">
			<div class="icon"></div>
			
			<div class="text">
				<p>Current Location</p>
				<h2>Boston, MA</h2>
			</div>
	
		</div>
	
		<div class="weather">
			
		</div>
	</div>
</div>

</div>


<div class="connect">
	<div class="row">
		<div class="title-text">
			<h2>Find Me</h2>
		</div>

		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<div class="twitter social-icon"></div>
				</div>
				<div class="back">
					<a href="http://twitter.com/zachferland" class="twitter social-icon"></a>
				</div>
			</div>
		</div>

		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<div class="github social-icon"></div>
				</div>
				<div class="back">
					<a href="https://github.com/zachferland" class="github social-icon"></a>
				</div>
			</div>
		</div>


		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<div class="linkedin social-icon"></div>
				</div>
				<div class="back">
					<a href="www.linkedin.com/pub/zach-ferland/36/8b0/60a/" class="linkedin social-icon"></a>
				</div>
			</div>
		</div>

		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<div class="dribble social-icon"></div>
				</div>
				<div class="back">
					<a href="https://medium.com/@zachferland" class="dribble social-icon"></a>
				</div>
			</div>
		</div>

		
	</div>
</div>

<footer>
	<div class="row">
		<div class="email-me">
		<div class="email-huh">
			<h4>Would you care to email me? </h4>
		</div>
	
		<a href="mailto:zachferland@gmail.com?subject=Hello" target="_blank" class="email-button">
			<span class="icon"></span>
			<span class="text-button">Email Me</span>
		</a>
		</div>
	</div>
</footer>

<div class="hide">
<div class="bgc">
<div class="row">
	<div class="content small-8 small-centered columns">


		<h2>Projects</h2>

		<h4>Printspace.me</h4>

		<p>A web application that allows you easily print your facebook photos and have them shipped to your doorstep in days. Built using Backbone.js.</p>

		<p><a href="http://printspace.me">Visit Printspace.me</a></p>

		<h4>TechStars Work</h4>

		<p>Available soon.</p>

		<h4>Food For Thought</h4>

		<p>A dinner series that allows 5-8 younger entrepreneurs connect with one very successful entrepreneur from the community over a casual meal and discussion. Redesign of website in progress and more extensive rails app for organizing and managing dinners/events.</p>

		<p><a href="http://fftboston.com">Visit FFTBoston.com</a></p>
		<p><a href="http://fftboston.herokuapp.com/">View Current Redesign in Progress</a></p>
		<p><a href="https://github.com/zachferland/fft_app">View Project on Github</a></p>

		<h4>Zeemoe</h4>

		<p>An application that allows users to create, share and discover activities around them.</p>

		<p><a href="http://zeemoe.com">Visit Zeemoe.com</a></p>


	</div>
</div>
</div>
</div>