<div class="row">
	<div class="header">
		<div class="row">
			<div class="logo"></div>
		</div> 
	</div>

	<div class="content small-8 small-centered columns">
		<h1>Zach Ferland</h1>

		<h5>Designer and Developer, currently at TechStars, I build things that matter</h5>

		<p>A temporary site while a new one is in progress.</p>

		<h2>Projects</h2>

		<h4>Printspace.me</h4>

		<p>A web application that allows you easily print your facebook photos and have them shipped to your doorstep in days. Built using Backbone.js.</p>

		<p><a href="http://printspace.me">Visit Printspace.me</a></p>

		<h4>TechStars Work</h4>

		<p>Available soon.</p>

		<h4>Food For Thought</h4>

		<p>A dinner series that allows 5-8 younger entrepreneurs connect with one very successful entrepreneur from the community over a casual meal and discussion. Redesign of website in progress and more extensive rails app for organizing and managing dinners/events.</p>

		<p><a href="http://fftboston.com">Visit FFTBoston.com</a></p>
		<p><a href="http://fftboston.herokuapp.com/">View Current Redesign in Progress</a></p>
		<p><a href="https://github.com/zachferland/fft_app">View Project on Github</a></p>

		<h4>Zeemoe</h4>

		<p>An application that allows users to create, share and discover activities around them.</p>

		<p><a href="http://zeemoe.com">Visit Zeemoe.com</a></p>

		<h2>Find Me</h2>

		<p><a href="http://printspace.me">Twitter</a></p>

		<p><a href="http://www.linkedin.com/pub/zach-ferland/36/8b0/60a">Linkedin</a></p>

		<p><a href="https://github.com/zachferland">GitHub</a></p>


	</div>
</div>