<section id="welcome hello">
	<div class="row">
		<div id="logo" class="small-5 small-centered columns"></div>
		<div class="small-11 small-centered columns headlines">
			<h1 id="headline">Food For Thought</h1>
			<h2 id="sub-headline">Casual conversations over dinner with 	entrepreneurs</h2>
			<div class="button-bar">
				<button id="invite button"> Request Invitation</button>
				<button id="invited button">Request Invitation</button>
			</div>
		</div>
	</div>
</section>

<section id="upcoming">
	<div class="row">

		<div class="small-4 columns">
			<h2 class="section-title">Upcoming Events</h2>
		</div>
		
		<div class="small-8 columns">
			<div class="entrprnr">
				<div class="img"></div>
				<h3 class="name">
					<span class="title"></span>
				</h3>
				<h6 class="des"></h6>
				<div class="social"></div>
			</div>
		</div>
	</div>
</section>

<section id="map">
	<div class="row">
		<div class="mapbox">
			<h2 class="section-title">Where</h2>
			<h4 class="place"></h4>
			<h6 class="address"></h6>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="row">
		<div class="menu left">
			<ul>
				<li>Hello</li>
				<li>Hello</li>
				<li>Hello</li>
				<li>Hello</li>
			</ul>
		</div>

		<div class="copyright right">
			<p>Copyright © 2013 Food For Thought Boston</p>
		</div>
	</div>
</footer>
