// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "foundation";

 $mainColor: #ff6666;

.left{float: left;}
.right{float: right;}

p, h1, h2, h3, h4, h5, h6 {
	letter-spacing:1.5px;

}

.row {
	width: 100%;
	max-width: 1100px;

}

h2 {
	
}

.hide {
	display: none;
}

 p {
	font-weight: 200;
	font-size: 1.125em;
	line-height: 1.6;
}

.title-text h2 {
	font-size: 60px;
	color: #fa5c58;
	text-transform: uppercase;
	font-weight: 100;
}

.header {
	background-image: image-url('background-header.png');
	height: 812px;

	h1, h3 {
		color: #fff;
	}

	p {
		font-weight: 100;
		font-size: 14px;
		line-height: 1.6;
		font-style: italic;
	}

	h1 {
		text-transform: uppercase;
		font-size: 99px;
		font-weight: 800;
		margin-bottom: 0px;
		text-align: center;
		line-height: 103px;
	}

	h3 {
		font-size: 20px;
		font-weight: 100;
		text-align: center;
	}

	.image-tag {
		position: absolute;
		top: 770px;
		left: 18px;
		color: #fff;
		font-size: 15px;
		font-weight: 100;
		font-style: italic;
	}
}

#red-bar {
	background-image:  image-url('red-bgc.png');
	background-repeat: repeat;
	height: 90px;
}

.footer {
	background-color: $mainColor;
	height: 30px;
}

.logo {
	background-image: image-url('logo.png');
	height: 210px;
	width: 210px;
	margin: 190px auto 30px auto;

}

.personal {
	background: image-url('zach.png') no-repeat;
	width: 240px;
	height: 240px;
	margin-top: -110px;
}

// Blog Post -----------------------------------------

.blog-post {
	height: 529px;
	padding-top: 110px;

	.image {
		width: 300px;
		height: 300px;
		float: left;
	}

	.title-text {
		margin-top: 50px;
		margin-bottom: 43px;
	}

	.post {
		color: #695f5e;
		width: 600px;
		float: left;
		margin: 40px 0 0 82px;

		.title {
			font-size: 35px;
			font-weight: 200;
			margin-bottom: 28px;
			text-transform: uppercase;
		}

		.snippet {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 1px;
			line-height: 23px;
		}
	}
}

/////////////////

// Location -----------------------------------------

.location {
	background: image-url('location-bg.png') no-repeat;
	width: 100%;
	height: 800px;
	text-transform: uppercase;
	color: #fa5c58;

	p {
		font-size: 24px;
	}

	h2 {
		font-size: 60px;
		color: #fa5c58;
		line-height: 7px;
	}

	.where {
		margin-top: 200px;
	}

	.where .icon {
		background: image-url('location-icon.png') no-repeat;
		width: 204px;
		height: 171px;
		float: left;
	}

	.where .text {
		background-color: #FFF;
		width: 500px;
		height: 171px;
		float: left;
		padding-top: 36px;
	}
}

/////////////////

// Connect -----------------------------------------

.connect {

	height: 615px;
	width: 100%;

	.title-text {
		width: 250px;

		h2 {
			margin-top: 93px;
		}
	}

	.social-icon {
		height: 255px;
		width: 255px;
		background-color: #fa5c58;
		float: left;
		border-bottom: 10px solid #dd514e;
		background-repeat: no-repeat;
		background-position: center;
	}

	.twitter {
		border-top: 20px solid #289bd0;
		background-image:  image-url('twitter.png');
	}

	.github {
		border-top: 20px solid #313030;
		background-image:  image-url('github.png');
	}

	.linkedin {
		border-top: 20px solid #0f61ad;
		background-image:  image-url('linkedin.png');
	}

	.dribble {
		border-top: 20px solid #e90081;
		background-image:  image-url('blog.png');
	}
}







// Connect -----------------------------------------

footer {
	height: 300px;
	width: 100%;
	background-image:  image-url('red-bgc.png');
	background-repeat: repeat;

	.email-me {
		width: 727px;;
		margin-left: auto;
		margin-right: auto;
	}

	.email-huh {
		float: left;

		h4 {
			color: #fff;
			font-weight: 100;
			font-size: 25px;
			margin-top: 138px;
		}

	}

	.email-button {
		height: 50px;
		width: 250px;
		background-color: #dd514e;
		border-bottom: 6px solid #c34845;
		text-transform: uppercase;
		float: left;
		margin: 129px 0 0 129px;

		
		.icon {
			background-image: image-url('email-icon.png');
			height: 45px;
			width: 60px;
			float: left;
		}

		.text-button {
			color: #fff;
			text-align: center;
			padding-top: 15px;
			letter-spacing: 1px;
			display: block;
		}

	}

	.email-button:hover {
		background-color: #e4504d;
		cursor: pointer;
	}

	.email-button:active {
		border-bottom: none;
		height: 45px;
		margin-top: 134px;
	}
}


.button-read {
	height: 50px;
	width: 200px;
	background-color: #dd514e;
	border-bottom: 6px solid #c34845;
	text-transform: uppercase;
	float: right;
	margin-top: 36px;
	margin-right: 36px;

	.text-button {
		color: #fff;
		text-align: center;
		padding-top: 15px;
		letter-spacing: 1px;
		display: block;
	}

}

.button-read:hover {
		background-color: #e4504d;
		cursor: pointer;
	}

	.button-read:active {
		border-bottom: none;
		height: 45px;
		margin-top: 41px;
	}


// CSS FLIP ANIMATION

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	height: 255px;
	width: 255px;
	margin: 20px 20px 0 0;
	float: left;
	cursor: pointer;
}

.back .twitter {
	background-color: #289bd0;
	border-bottom: 10px solid #289bd0;
}

.back .github {
	background-color: #313030;
	border-bottom: 10px solid #313030;
}

.back .linkedin {
	background-color: #0f61ad;
	border-bottom: 10px solid #0f61ad;
}

.back .dribble {
	background-color: #e90081;
	border-bottom: 10px solid #e90081;
}


/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
}

/* front pane, placed above back */
.front {
z-index: 2;
}

/* back, initially hidden pane */
.back {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
transform: rotateY(180deg);
}







