// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "foundation";

$mainColor: #fa4e50;
$lightText: #fdefef;

.left{float: left;}
.left{float: right;}

.section-title {

}

#welcome { 
  background: image-url('bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 780px;

  #headline, #sub-headline {
  	color: $lightText;
  	text-transform: uppercase;
  }

  #headline {

  }

  #sub-headline {
	font-weight: 200;
	font-size: emCalc(20px);
  }

  #logo{
  	height: 300px;
  	width: 200px;
  }

  button {
	@include button(0em, $mainColor, 0, emCalc(155px), false, true);
	float: left;
	font-weight: 100;
	height: emCalc(36px);
	width: emCalc(155px);
  }

}

#upcoming{
	background-color: $mainColor;
	height: 355px;
	width: 100%;
	padding: 75px 0;
}

#map {

	height: 530px;

	.mapbox {
		background-color: $mainColor;
		padding: 10px;
		height: 100px;
		width: 100px;
	}
}


footer {
	background-color: $mainColor;
	height: 115px;
	padding-top: 55px;

	.menu {
	text-transform: uppercase;
	font-weight: 400;
	font-size: emCalc(14px);

	li {
		list-style-type: none;
		padding-right: 20px;
		display: inline;
	}
}
}